<!DOCTYPE html>
<html>
  <head>
    <title>FreeJar</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h1 class='title'>Welcome to FreeJar</h1>
    <h2 class='subtitle'>Free & Open source</h2>
    <h3 class='description'>FreeJar is a free and open source client tracker for your websites.</h3>
    <h3 class='description'>Simply add 3 lines of code into your website and get data on your clients.</h3>
  </body>
</html>